.cart {
    display: flex;
    flex-direction: column;
    width: 289px;
}

.cart__header{
    background-color: #27AE60;
    border-radius: 5px 5px 0px 0px;
    height: 65px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.cart__cheio{
    display: flex;
    flex-direction: column;
    max-height: 320px;
    overflow-y: auto;
    background-color: #F5F5F5;
    padding-bottom: 20px;
}

.cart__vazio{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 158px;
}

.cart__vazio__h3{
    font-weight: 700;
    font-size: 18px;
    color: #333333;
}

.cart__vazio__span{
    font-weight: 400;
    font-size: 14px;
    color: #828282;
}

@media(min-width: 800px){
    .cart{
        width: 365px;
    }
}